{% extends "users/base.html" %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5"></h1>
    <p>{{ user_name }}さん、こんにちは。</p>
    <p>{{ user_email }}</p>
    <img src="{{ user_icon_image.url }}" />  <!-- Ensure the image URL is correct -->
    <p>{{ user_graduate_at }}</p>
    <p>Summer Graduate: {{ user_graduate_at_summer }}</p> <!-- For more user-friendly display of Boolean -->
    <a href="{% url 'users:logout' %}">ログアウト</a>
</div>
{% endblock %}
