<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href='{% static "users/style.css" %}' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <p class="icon">fenxiangs</p>
  </header>
  <h1>新規登録</h1>
  <div class="reg">
    <table class="reg_form">

      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ account_form.as_p }}
        {{ add_form.as_p }}
        <tr>
          <td></td>
          <td>
            <input class="btn" type="submit" name="" value="登録">
          </td>
        </tr>
      </form>
    </table>
  </div>
</body>

</html>